@model IEnumerable<Agenda.Models.Grupo>

@{
    ViewBag.Title = "Index";
}

<h2>Bienvenidos</h2>
<h3>Tabla De Estudiantes</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asignatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuatrimestre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asignatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuatrimestre)
        </td>
    </tr>
}
    
</table>
<a href="/contactoes/Index" class="btn-danger">Contactos</a>
